<div class="container sub-main-page">
  <section>
    <div class="row">
      <div class="col-12 d-flex justify-content-center">
        <h3>What is pomodoro technique?</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-12">
        <div class="text-description">
            <p class="text-center">
                Pomodoro technique is a type of working way to work focused during a
                period of time and then taking a small rest. Every cycle is called a
                "Pomodoro" and after 4 Pomodoros it is time for a long rest and
                repeat.
              </p>
              <p>
                Pomodoro was thought to be used with tasks (one task a number of Pomodoros), 
                but some tasks take more than a cycle of <strong>4 Pomodoros</strong>  or can't be measured correctly.
              </p>
              <p>The way I found myself easier to work around it more easly is to use the timer freely.
                I mean by that is that define tasks in a <strong>To do list</strong> and select one <strong>(just one not multitasking)</strong> work on it and start the pomodoto timer.
                Take all the necesary Pomodoros until you finish the task selected. And after finished, <strong>advance</strong> the timer to the next rest
            </p>
            <p>
                Another important key to do successful Pomodoros and archieve a nice and healthy productivity is to make a good
                 <strong>Do list.</strong>
                To make a good tasks list is to get a task and divide them into smaller tasks that are an important part of the whole task
                <strong>Eg. Make dinner:</strong>
            </p>
            <ul>
                <li>Chop all the ingredients, take them out of the freezer, get all cookware needed, etc...</li>
                <br>
                <li>Cook the dinner.</li>
            </ul>
            <p>
                In conclusion, By doing all the things above allows to reduce the procrastination, therefore be more productive and work healthier.
                Remember that working discipline is the key to the success.
            </p>
        </div>
      </div>
    </div>
  </section>
</div>
